@use 'sass:color';
@use '../../styles/base/variables' as v;
@use '../../styles/base/mixins' as m;

.searchSection {
  backdrop-filter: blur(1rem);
  background-color: rgba(v.$white, 0.3);
  border-radius: v.$radius;
  padding: 2.5rem;
  @include m.flex(column, 2rem);
}

