@use "../../../../styles/base/variables" as v;
@use "../../../../styles/base/mixins" as m;



.displayedItemsWrapper {
  justify-content: center;
  align-items: center;
  @include m.flex(column, 0);
}
.displayedItems {
    min-height: 90dvh;
    background-color: v.$bg-color-blur;
    border: 3px solid v.$white;
    border-radius: v.$radius;
    padding: 4rem 2.5rem;
    width: 100%;
    @include m.blur-bg;
    @include m.flex(column, 2rem);
    

    .loadingWrap {
    height: 100%;
    @include m.flex(row, 0);
    justify-content: center;
    //align-items: center;
  }

  .headerCardsContainer {
    @include m.flex(row, 0);
    justify-content: space-between;

    .filtersIcon {
      cursor: pointer;
    }
  }

  .cardsScroll {
    overflow-y: auto;
    scrollbar-width: thin;               // <-- Firefox
    scrollbar-color: rgba(v.$black, 0.438) transparent;  // <-- Firefox
    padding-right: 2rem;
    max-height: 100vh;

    &::-webkit-scrollbar {
      width: 8px; 
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(v.$black, 0.438);
      border-radius: 4px;
    }

    scrollbar-gutter: stable;   
  }

  .cardsList {

    @include m.grid-c(1, 3rem);
    place-items: center;

    @include m.mq(662px) {
      @include m.grid-c(2, 2rem); 
    }

    @include m.mq(868px) {
      @include m.grid-c(3, 1.5rem); 
    }

    @include m.mq(1280px) {
      @include m.grid-c(4, 2.2rem); 
    }
  }

  .notResult {
    width: 100%;
    align-items: center;
    @include m.flex(column, 0);


    img {

      
      @include m.mq(v.$mobile) {
        width: 50%;
      }

      @include m.mq(v.$mobile-2) {
        width: 45%;
      }

      @include m.mq(v.$tablet) {
        width: 33%;
      }
    }

    p {
      text-align: center;
      font-weight: 400;
    }
  }
}
