@use "../../styles/base/variables" as v;
@use "../../styles/base/mixins" as m;

.ingredientCard {

  @include m.flex(column, 1rem);
  justify-content: center;
  align-items: center;
  background-color: rgba(v.$primary-color, 0.3);
  padding: 2rem;
  border-radius: v.$radius;
  

  .imageContainer {
    padding: 1rem;
    border-radius: 50%;
    background-color: v.$white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }

  .textContainer {
    @include m.flex(column, 0.5rem);

    .name {
    font-size: 2.2rem;
    font-weight: 400;
    }

    .quantities {
      font-size: 1.8rem;
    }
  }

  

}