@use '../../styles/base/variables' as v;
@use '../../styles/base/mixins' as m;
@use 'sass:color';


.circularBtn {
    color: v.$black;
    font-weight: 600;
    background-color: v.$tertiary-button;
    border: none;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    font-family: v.$primary-font;
    cursor: pointer;

    &:hover {
        background-color: color.scale(v.$tertiary-button, $lightness: 15%);
    }
}

.starIA {
    background-image: url(/icons/starIA.svg);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: 10% 10%;
}