@use '../../styles/base/variables' as v; 
@use '../../styles/base/mixins' as m;

.aiErrorWrapper {
  width: 100%;
}

.aiErrorBox {
  
  background-color: v.$white;
  padding: 2rem 1rem;
  position: relative;
  border-radius: 1rem;
  width: 80%;
  @include m.flex(row, 1rem);
  
  @include m.mq(v.$tablet) {
    padding: 3rem 2rem;
    width: 80%;
  }

  @include m.mq(v.$tablet-2) {
    width: 100%;
  }

  .aiErrorIcon {
    width: 4rem;
    height: auto;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .aiImage {

    position: absolute;
    top: calc(50% - 2rem);
    left: calc(100% - 2rem);
    width: 11rem;
    height: auto;
  }
}