@use 'sass:color';
@use '../../../../styles/base/variables' as v;
@use '../../../../styles/base/mixins' as m;
@use '../../../../components/ui/Buttons/PrimaryButton.module.scss';
@use '../../../../components/ui/Buttons/WhiteButton.module.scss';

.searchSection { 
    padding: 4rem 2.5rem;
    @include m.blur-bg;
    background-color: v.$bg-color-blur;
    @include m.flex(column, 2rem);
    border-radius: v.$radius;
    position: relative;
    z-index: 10;
    border: 3px solid v.$white;

    @include m.mq(v.$mobile-2) {
        gap: 0;
    }

    .toast {
        position: absolute;
        top: 0%;
        left: 2.5rem;
        z-index: 15;
    }

    .buttonsWrap {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
        @include m.flex(row, 1.5rem);
    }

    .searchHeader {
        @include m.flex(column, v.$spacing-between-fields-form);

        h3 {
            z-index: 10;
        }
        .buttonsGroup {

            .primaryBtn {
                position: relative;
                border-radius: 0.5rem;
                border: 1px solid v.$primary-color;
                font-size: 1.6rem;

                @include m.mq(v.$desktop-2) {
                    font-size: 1.6rem;
                }
            }        

            .whiteButton {
                position: relative;
                border-radius: 0.5rem;
                font-size: 1.6rem;
            }

            .translateBtn {
                @include m.mq(v.$mobile) {
                    transform: translateX(-1rem)
                }
                
            }
        }
    }

    
    
}