@use "../../styles/base/variables" as v;
@use "../../styles/base/mixins" as m;

.bgWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(v.$black, 0.7);
  z-index: 500;
  opacity: 0;
  display: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 2.5rem;
  background-color: v.$bg-body;
  z-index: 50;
  border-radius: v.$radius;
  max-width: 90vw; 
  max-height: 95vh; 
  z-index: 1000;
  @include m.flex(column, 2rem);

  @include m.mq(768px) {
    width: 50%;
  }  

  .contentWrap {
    overflow-y: auto; 
    scrollbar-width: thin;               // <-- Firefox
    scrollbar-color: rgba(v.$black, 0.438) transparent; // <-- Firefox

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(v.$black, 0.438);
      border-radius: 4px;
    }

    scrollbar-gutter: stable;   
  }

  .closeIcon {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 2rem;
    height: 2rem;
  }

  h3 {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
  }
}