@use '../../styles/base/variables' as v;
@use '../../styles/base/mixins' as m;

.recipeWrapper {

  /* @include m.mq(v.$desktop-2) {
    background-image: url(/public//images/v-bg-recipe-detail.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 531px ;
  } */
}


.recipe {
  padding: 5rem 0 3rem 0;

  @include m.flex(column, 3rem);

  .recipeHeader {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
    position: relative;
    place-items: center;

    .contentWrapp {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 2.5rem;

      @include m.mq(v.$tablet) {
        grid-template-columns: 0.6fr 0.4fr;
        column-gap: 2.5rem;
      }

      @include m.mq(v.$desktop) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: initial;
        align-content: center;
        justify-content: center
      }
  
      @include m.mq(desktop-2) {
        grid-template-columns: 0.6fr 0.4fr;
      }
    }

    .timePreparation {
      padding: 1rem 2rem;
      position: absolute;
      border-radius: 2rem;
      top: 0;
      right: 0;
      font-size: 2.8rem;
      font-weight: 600;
      color: v.$secondary-color;
      border: 1px solid rgba(v.$primary-color, 0.3);

      span {
        font-size: 3.5rem;
      }
    }

    .recipeContent {
      @include m.flex(column, 3rem);
      width: 100%;

      h2 {
        width: 75%;

        @include m.mq(v.$desktop) {
          width: 100%;
        }
      }
    }

    .imageContainer {
      overflow: hidden;
      border-radius: v.$radius;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
      @include m.mq(v.$desktop) {
        max-width: 60rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .infoContainer {
      @include m.flex(row, 0);
      justify-content: center;
      align-items: center;
      background-color: rgba(v.$primary-color, 0.3);
      clip-path: polygon(14% 0, 100% 0%, 100% 100%, 14% 100%, 2% 49%);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  .recipeDescription > div {
    font-weight: 300 
  }

  .recipeDetails {
    @include m.grid-c(1, 3rem);

    @include m.mq(v.$desktop) {
      @include m.grid-c(2, 2.5rem);
    }

    .ingredientsContainer {

      @include m.flex(column, 2rem);

      .ingredients {
        @include m.flex(row, 2rem);
        flex-wrap: wrap;
      }

      
    }

    .instructionsContainer {
      @include m.flex(column, 2rem);
      max-height: 100vh;
      overflow: hidden;

      .instructions {
        @include m.flex(column, 2rem);
        list-style-position: inside;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.438);
          border-radius: 4px;
        }
        //padding-left: 6rem;

        .instruction::marker {
          font-size: 3.2rem;
        }
      }
    }
    
  }

 
}

