@use '../../../../styles/base/variables' as v;
@use '../../../../styles/base/mixins' as m;


  .messageBox {
    width: 100%;
    align-items: center;
    @include m.flex(column, 0);
    
    img {

      
      @include m.mq(v.$mobile) {
        width: 50%;
      }

      @include m.mq(v.$mobile-2) {
        width: 45%;
      }

      @include m.mq(v.$tablet) {
        width: 33%;
      }
    }

    .text {
      text-align: center;
      font-weight: 400;
    }
  }
  