@use '../../../../styles/base/variables' as v;
@use '../../../../styles/base/mixins' as m;

.aiForm {
  justify-content: center;
  width: 100%;
  padding-right: 4rem;
  @include m.flex(column, 1.5rem);
  

  @include m.mq(v.$tablet) {
    width: 90%;
  }

  @include m.mq(v.$tablet-2) {
    width: 80%;
  }

  .inputBox {
    background-color: v.$white;
    border-radius: v.$radius;
    width: 100%;
    position: relative;
    padding: 0 1rem;
    @include m.flex(column, 1rem);

    .inputWrapper {
      position: relative;
      @include m.flex(row, 0);
      justify-content: space-between;
      align-items: center;
    }

    input[type=text] {
      background-color: v.$white;
      border: none;
      width: 100%;
      font-size: 1.6rem;
      font-family: v.$secondary-font;
      border-radius: v.$radius;
      padding: 1.5rem;

      &:focus {
        outline: none; 
        background-color: v.$white; 
      }

      &:placeholder {
        font-size: 1.3rem;
        font-family: v.$secondary-font;

        @include m.mq(v.$tablet) {
          font-size: 1.6rem;
        }
      }
    }

    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset !important;
      -webkit-text-fill-color: #333 !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    .errorSign {
      width: 3.5rem;
      height: 4rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    .tags {
      background-color: rgba(v.$tertiary-color, 0.08);
      min-height: 3rem;
      border-radius: 0.5rem;
      @include m.flex(row, 1rem);
      padding: 1rem;
      

      .tag {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        background-color: v.$light-gray;
        border-radius: v.$radius;
        @include m.flex(row, 0.5rem);
      }
    }

    .submitButtonAI {
      position: absolute;
      right: calc(-1rem - 4rem);
      top: 0;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      background-color: v.$black;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include m.flex(row, 0);
      
      
      @include m.mq(v.$tablet) {
        right: calc(-2rem - 4rem);
        width: 4rem;
        height: 4rem;
      }


      img {
        padding: 0.5rem;
      }

    }

    .disabled {
      cursor: not-allowed;

      img {
        cursor: not-allowed;
      }
    }
  }
}