@use "../../styles/base/variables" as v;
@use "../../styles/base/mixins" as m;
@use "../Buttons/PrimaryButton.module.scss";

.formContainer {
  @include m.flex(column, 2rem);

  .wrapper {
    @include m.grid-c(1, 2rem);
    width: max-content;
  
    @include m.mq(v.$desktop) {
      flex-direction: row;
    }
  
    .preferencesContainer {
      @include m.flex(column, 2rem);


      .optionsGrid {
        @include m.grid-c(3, 0);
        column-gap: 3rem;
        row-gap: 0.5rem;

        .item {
        @include m.flex(row, 1rem);
        align-items: center;
      }
      }
      
      .optionsFlex {
        @include m.flex(column, 1rem);
      }     
    }
  }
}
