@use "sass:map";
@use '../../../styles/base/variables' as v;
@use '../../../styles/base/mixins' as m;

$button-variants: (
  facebook: ( 
    background: v.$facebook-color,
    label: v.$white,
  ),
  google: ( 
    background: v.$google-color,
    label: v.$black,
    
  ),
);

@each $name, $variant in $button-variants {
  .#{$name} {
    width: 100%;
    @include m.btn(
      map.get($variant, background),
      map.get($variant, label)
    );
  }
}

.buttonWithIcon {
  justify-content: center;
  align-items: center;
  @include m.flex(row, 1rem);

  @include m.mq(v.$tablet) {
    gap: 5rem;
  }
  
  .label {
    font-size: 1.5rem;  
    
    @include m.mq(v.$desktop-2) {
      font-size: 1.8rem;
    }
  }

  .icon {
    width: 3rem;

    @include m.mq(v.$tablet) {
      width: 4rem;
    }
  }

} 


