@use '../../styles/base/variables' as v;
@use '../../styles/base/mixins' as m;

.rangeSliderContainer {
  width: 100%;
  
  .filterName {
    color: v.$black; 
  }

  .rangeSlider {
    position: relative;
    height: 0.8rem;
    background: white;
    border-radius: 1rem;
    margin: 1.5rem 0;
    
    .track {
      height: 100%;
      position: absolute;
      background: v.$primary-color;
      border-radius: 1rem;
    }
  

    .input {
      position: absolute;
      width: 100%;
      background: none;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      appearance:  none;
      padding: 0;
      margin: 0;

      &::-webkit-slider-thumb {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: v.$primary-color;
        border: 0.2rem solid white;
        pointer-events: auto;
        appearance: none;
        -moz-appearance: none;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: v.$primary-color;
        border: 0.2rem solid white;
        pointer-events: auto;
        appearance: none;
        -moz-appearance: none;
        cursor: pointer;
      }
    }
    
    &.disabledFilter {

      .track {
        background: #ccc;
        cursor: not-allowed;
      }

      .input {
        &::-webkit-slider-thumb {
          background-color: #ccc;
          border: 0.2rem solid #ccc;
          cursor: not-allowed;
        }

        &::-moz-range-thumb {
          background-color: #ccc;
          border: 0.2rem solid #ccc;
          cursor: not-allowed;
        }
      }

    }
  }


  .containerValues {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .containerValue {
      width: 2.5rem;
      display: flex;
      align-items: center;
      opacity: 1;
    }

    &.disabled {
      .containerValue {
        opacity: 0;
      }
    }
  }
}