@use 'sass:color';
@use './variables' as v;


/* Responsive display */

@mixin mq($value) {
  @media (min-width: $value) {
    @content;
  }
}

/* Grid - flex */

@mixin grid-c($columns, $spacing) {
  display: grid;
  gap: $spacing;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin flex($direction, $spacing) {
  display: flex;
  flex-direction: $direction;
  gap: $spacing;
}

/* Buttons */

@mixin btn($color, $text) {
  cursor: pointer;
  background-color: $color;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: v.$primary-font;
  border: none;
  border-radius: 1rem;
  color: $text;

  
  &:hover {
    background-color: color.scale($color, $lightness: 4%);
  }
}  

/* Blur */

@mixin blur-bg {
  backdrop-filter: blur(v.$blur);
}

/* Blur Container */

@mixin blur-container {
  min-height: 90dvh;
  background-color: v.$bg-color-blur;
  border: 3px solid v.$white;
  border-radius: v.$radius;
  padding: 4rem 2.5rem;
  width: 100%;
  backdrop-filter: blur(v.$blur);
}


/* Layouts */

@mixin content-layout-flex($padding-mobile, $gap-mobile, $padding-desktop, $gap-desktop) { //Crea filas, disponiendo en flex columns los contenedores, usado en Home, RecipeDetails
  padding: $padding-mobile 0; //v.$spacing-mobile
  display: flex;
  flex-direction: column;
  gap: $gap-mobile; //v.$spacing-mobile

  @media (min-width: v.$desktop) {
    padding: $padding-desktop 0; //v.$spacing-desktop
    gap: $gap-desktop; //v.$spacing-desktop
  }
}

@mixin content-layout-grid($first-column, $second-column, $gap-mobile, $gap-desktop, $padding-mobile, $padding ) { 
  display: grid;
  grid-template-rows: $first-column $second-column;
  row-gap: $gap-mobile;
  padding: $padding 0;

  @media (min-width: v.$tablet) {
    grid-template-rows: none;
    row-gap: 0;
    grid-template-columns: $first-column $second-column;
    column-gap: $gap-desktop;
    padding: $padding-mobile 0;
  }
}


