
/* Colors */
$primary-color: #BA9C01;
$secondary-color: #42390A;
$tertiary-button: #E3DAAB;
$white: #fff;
$black: #000;
$bg-body: #F2F2F2;
$grey-line: #B7B5B5;
$check: #03B309;
$error: #E83C2F;



/* Fonts */
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Roboto Flex", sans-serif;

/* utils */
$spacing-mobile: 3.5rem;
$spacing-desktop: 4rem;
$radius: 1rem;
$blur: 0.3rem;

//Media Queries
$mobile: 480px;  
$mobile-2: 665px;  
$tablet: 768px; 
$tablet-2: 992px; 
$desktop: 1024px; 
$desktop-2: 1280px; 
$desktop-3: 1440px; 
$desktop-4: 1665px; 
$desktop-5: 1920px; 
$smartTv: 2500px; 