
/* Colors */
$primary-color: #BA9C01;
$secondary-color: #42390A;
$white: #fff;
$black: #000;
$bg-body: #F5F5F5;
$grey-line: #B7B5B5;


/* Fonts */
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Roboto Flex", sans-serif;

/* utils */
$spacing-mobile: 1rem;
$spacing-desktop: 2rem;
$radius: 1rem;

//Media Queries
$mobile: 480px;  
$mobile-2: 665px;  
$tablet: 768px; 
$tablet-2: 992px; 
$desktop: 1024px; 
$desktop-2: 1280px; 
$desktop-3: 1440px; 
$desktop-4: 1665px; 
$desktop-5: 1920px; 
$smartTv: 2500px; 